---
import "../styles/global.css";

const pageTitle = "我的博客";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <!-- 在你的 Astro 脚本中使用 JavaScript 或 TypeScript 表达式定义变量。
             在你的 Astro 模板中使用这些大括号内的变量来告诉 Astro 你正在使用一些 JavaScript。 -->
    </head>
    <body>
        <a href="/">首页</a>
        <a href="/about/">关于</a>
        <a href="/blog/">博客</a>

        <h1>{pageTitle}</h1>
        <p>在这里，我将分享我的 Astro 学习之旅。</p>
        <!-- /**
         * 博客文章列表
         * 
         * 使用无序列表 <ul> 展示博客文章链接
         * 每个 <li> 包含一个 <a> 超链接标签
         * 
         * <a> 标签的作用：
         * - href 属性：指定链接的目标 URL 地址 ("/posts/post-1/")
         * - 创建可点击的超链接，用户点击"文章 1"文本会导航到指定路径
         * - 允许用户在网站中浏览不同页面
         */ -->
        <ul>
            <li><a href="/posts/post-1/">文章 1</a></li>
            <li><a href="/posts/post-2/">文章 2</a></li>
            <li><a href="/posts/post-3/">文章 3</a></li>
        </ul>
    </body>
</html>
