---
// 导入组件并给它起个名字 Navigation
// 你需要在 HTML 中使用这个组件：<Navigation />
// 所以必须给它起个名字 Navigation，这样才能在 HTML 中引用
// import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// 直接导入，不需要名字
// 你只是想加载样式文件，让网页有样式
// 不需要在 HTML 中使用它，所以不用起名字
import "../styles/global.css";

const pageTitle = "我的 Blog 网站";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<!-- 导航组件 -->
		<!-- <Navigation /> -->
		<Header />

		<!-- <h1>Astro</h1> # 这就是网页编辑的内容 -->
		<h1>{pageTitle}</h1>

		<!-- 页脚组件 -->
		<Footer />
	</body>
</html>
