---
// 导入组件并给它起个名字 Navigation
// 你需要在 HTML 中使用这个组件：<Navigation />
// 所以必须给它起个名字 Navigation，这样才能在 HTML 中引用
// import Navigation from "../components/Navigation.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
// 直接导入，不需要名字
// 你只是想加载样式文件，让网页有样式
// 不需要在 HTML 中使用它，所以不用起名字
// import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "我的 Blog 网站";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>我超棒的博客副标题</h2>
</BaseLayout>

<!-- HTML：网页的骨架（页面结构），例如：<header>、<h1>、<p>、<a> 等标签，可以在markdown中找到更多信息
CSS：网页的皮肤和衣服（外观样式），例如：颜色、字体、布局等，可以在 global.css 中找到更多信息
JavaScript：网页的大脑（交互和动作），例如：点击、悬停、表单验证等交互行为 -->
