---
import Navigation from "../components/Navigation.astro";
---

<!-- <header>是 HTML 语义标签，用来表示页面的不同结构区域。 -->
<!-- <header>	位置：页面顶部	用途：logo、导航、页面标题等 -->
<header>
    <!-- <nav>是 HTML 语义标签，用来表示页面的不同结构区域。 -->
    <!-- <nav>	位置：导航区域	用途：菜单链接-->
    <nav>
        <Navigation />
    </nav>
</header>
