---

---

<!-- <div>：通用容器元素，用来分组内容 --><!-- id="main-menu"：给这个容器取个唯一的名字（JavaScript可能会用到） --><!-- class="nav-links"：应用 CSS 样式（就是你 global.css 中定义的样式） -->
<div id="main-menu" class="nav-links">
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>
</div>
